
<%= form_for(@loja) do |f| %>
	<% if @loja.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@loja.errors.count, "erro") %> impediram esta loja de ser salva:</h2>

			<ul>
			<% @loja.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row">
		<div class="col-sm-4">
			<div class="input-group input-group-sm">
				<span class="input-group-addon" style = "min-width:75px">Nome</span>
				<%= f.text_field :nome, class: "form-control"%>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon" style = "min-width:75px">CNPJ</span>
				<%= f.text_field :cnpj, class: "form-control"%>
			</div>
			<div class = "field">
				<%= f.label :Logo%><br>
				<%= f.file_field :imagem%>
			</div>
            
            <div class="input-group input-group-sm">
					<span class="input-group-addon" style = "min-width:75px">Infos</span>
					<%= f.text_field :info_lojas, :value => "", class: "form-control"%>
            </div>
            
			<div class="actions">
				<%= f.submit :class => 'btn btn-primary ui-btn-inline' %>
			</div>
		</div>
	</div>
<% for info in @loja.info_lojas %>
<div><%=info.chave%><%=link_to "X", apagar_path(@loja, info) %></div> 
<% end %>
<% end %>


