<p id="notice"><%= notice %></p>

<div>
<h1>Lojas</h1>
    <%if current_usuario.try(:fornecedor?) %>
          <div class="btn-group">
              <%= link_to "Nova Loja", new_loja_path, :class => "btn btn-primary ui-btn-inline" %>
          </div>
    <%end%>
</div>

<table>
    
  <tbody>
    <% @lojas.each do |loja| %>
       <div class="loja" style = "display: inline-block; margin-left: auto; margin-right: auto; width: 10em">
           <%=link_to image_tag(loja.imagem.url(:thumb), class: 'media-object', :align=> "middle"), loja_produtos_path(loja) %>
		    <div class="nome-loja"> <%=link_to loja.nome, loja_produtos_path(loja)  %> </div>
		  </div>
      
      
        <td><%= link_to 'Mostrar', loja %></td>
        <td><% if current_usuario.try(:fornecedor?) %><%= link_to 'Editar', edit_loja_path(loja) %><% end %></td>
    <% end %>
  </tbody>
</table>

<br>
