<p id="notice"><%= notice %></p>

<h1>Lojas</h1>

<table>
    
  <tbody>
      <%if current_usuario.try(:fornecedor?) %>
      <div class="btn-group">
          <%= link_to "Nova Loja", new_loja_path, :class => "btn btn-primary ui-btn-inline" %>
      </div>
      <%end%>
    <% @lojas.each do |loja| %>
      <tr>
        <td><%= loja.nome %></td>
        <td><%= link_to 'Mostrar', loja %></td>
        <td><% if current_usuario.try(:fornecedor?) %><%= link_to 'Editar', edit_loja_path(loja) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
