<p id="notice"><%= notice %></p>

<%= image_tag(@loja.imagem.url(:medium)) %>

<p>
  <strong><%= t :nome %>:</strong>
  <%= @loja.nome %>
</p>

<% if current_usuario.try(:fornecedor?) %>
<%= link_to 'Editar', edit_loja_path(@loja) %> |
<% end %>
<%= link_to 'Voltar', lojas_path %>
