<!-- Mostrar tudo isso se o usuário não estiver logado-->
<% unless usuario_signed_in? %>
	<li class="dropdown" id="menuLogin">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Já possuo cadastro</a>
		<div class="dropdown-menu" style = "padding:10px; width: 250px !important;" >
			<%= form_for(:usuario, :url => session_path(:usuario)) do |f| %>
				<div class="input-group input-group-sm">
					<!-- Aqui está o email-->
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<%= f.email_field :email, :class => "form-control", :placeholder => "Endereço de email" %>
				</div>
				<div class="input-group input-group-sm">
					<!-- Aqui está a senha-->
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<%= f.password_field :password, :class => "form-control", :placeholder => "Senha"  %><br>
				</div>
				<div>
					<label class="checkbox-inline"><input type="checkbox" value="">Lembrar senha?</label>
					<%= f.submit t('.sign_in', :default => "Entrar", :class => "btn pull-right") %>
				</div>
			<% end %>
		</div>
	</li>
	<li><%= link_to 'Cadastrar', cadastro_path %></li>
	<!-- mas se ele estiver logado, só mostra o logout e o histórico-->
<%else%>
	<li><%= link_to('Logout', logout_path, method: :delete) %></li>
<% end %>