<p id="notice"><%= notice %></p>

<p>
  <!--<%= p = Produto.find_by_id(@lote.produto_id) %>-->
  <strong><%= t :produto %>:</strong>
  <%= image_tag(p.imagem) %>
  <%= p.nome %>
</p>

<p>
  <strong><%= t :qtd_lote %>:</strong>
  <%= @lote.qtd_lote %>
</p>

<p>
  <strong><%= t :preco %>:</strong>
  <%= @lote.preco %>
</p>

<p>
  <strong><%= t :t_lote %>:</strong>
  <%= @lote.t_lote %>
</p>

<%= link_to 'Editar', edit_lote_path(@lote) %> |
<%= link_to 'Voltar', lotes_path %>
