<p id="notice"><%= notice %></p>

<h1>Catálogos de Produtos</h1>

<% @produtos.each do |produto| %>
  <div class="produto">
    <div class="nome-produto"> <%= produto.nome %> </div>
    <%=link_to image_tag("iphone.jpeg", :width => "50 "), produto %>
    <div class="preco-produto"> <%= produto.preco %> </div>
    <progress max="<%= produto.t_lote %>" value="<%= produto.qtd_lote %>"></progress>
  </div>
<% end %>

<br>
<%= link_to "novo", new_produto_path() %> 