<p id="notice"><%= notice %></p>

<div style = "background-color : white;">
  <h1>Catálogo de Produtos</h1>

  <% @produtos.each do |produto| %>
    <div class="produto" style = "display: inline-block;">
      <div class="nome-produto" style = " width : 8em;"> <%= produto.nome %> </div>
      <%=link_to image_tag(produto.imagem.url(:thumb), class: 'media-object'), produto %>
      <div class="marca-produto" style ="font-style: oblique; color: #767676;" > <%= produto.marca %>  </div>
    </div>
  <% end %>
  <br>
  <% if current_usuario.try(:fornecedor?) %>
  <%= link_to "Novo Produto", new_produto_path() %>
  <% end %>
  <h1> Lojas </h1>
  <% @lojas.each do |loja| %>
    <div class="loja" style = "display: inline-block;">
      <div class="nome-loja" style = " width : 8em;"> a </div>
      <%=link_to 'lojaaa', loja %>
    </div>
  <% end %>
</div>
