<p id="notice"><%= notice %></p>

<!--   -->
<div>
	<div><h1>Catálogo de Produtos </h1>
		<div class="btn-group">
		<%= link_to "Novo Produto", new_produto_path(), :class => "btn btn-primary ui-btn-inline" %>
		</div>
	</div>

		<% @produtos.each do |produto| %>
		  <div class="produto" style = "display: inline-block; margin-left: auto; margin-right: auto; width: 10em">
		    <%=link_to image_tag(produto.imagem.url(:thumb), class: 'media-object', :align=> "middle"), produto %>
		    <div class="nome-produto"> <%=link_to produto.nome, produto %> </div>
		    <div class="marca-produto" style = "font-style: oblique; font-size: 10px; color: #767676;" > <%= produto.marca %>  </div>
		    <div class="disponibilidade" style = "font-style: oblique; font-size: 10px; color: #009933;" > Disponível </div>
		    <div class="marca-produto" style = "font-style: oblique; font-size: 10px; color: #767676;" > Categoria indefinida </div>
		    <div> R$ 99,99 </div>
		  </div>
		<% end %>
	<br>
	<hr>
	<h1> Lojas </h1>
</div>