<p id="notice"><%= notice %></p>

<h1>Catálogo de Produtos</h1>

<% @produtos.each do |produto| %>
  <div class="produto">
    <div class="nome-produto"> <%= produto.nome %> </div>
    <%=link_to image_tag(produto.imagem.url, class: 'media-object', :width => "50 "), produto %>
    <div class="preco-produto"> <%= produto.preco %> </div>
    <progress max="<%= produto.t_lote %>" value="<%= produto.qtd_lote %>"></progress>
  </div>
<% end %>

<br>
<%= link_to "Novo Produto", new_produto_path() %> 