<p id="notice"><%= notice %></p>

<h1>Catálogo de Produtos</h1>

<% @produtos.each do |produto| %>
  <div class="produto">
    <div class="nome-produto"> <%= produto.nome %> </div>
    <%=link_to image_tag(produto.imagem.url(:thumb), class: 'media-object'), produto %>
    <div class="marca-produto"> <%= produto.marca %> </div>
  </div>
<% end %>

<br>
<%= link_to "Novo Produto", new_produto_path() %> 