<p id="notice"><%= notice %></p>

<%= image_tag(@produto.imagem.url(:medium)) %>
<p>
  <strong><%= t :nome %>:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong><%= t :marca %>:</strong>
  <%= @produto.marca %>
</p>
<% if current_usuario.try(:fornecedor?) %>
<%= link_to 'Editar', edit_produto_path(@produto) %> |
<% end %>
<%= link_to 'Voltar', produtos_path %>
