<p id="notice"><%= notice %></p>

<%= image_tag(@produto.imagem.url(:medium)) %>
<p>
  <strong><%= t :nome %>:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong><%= t :marca %>:</strong>
  <%= @produto.marca %>
</p>
<p>
    <strong> <%= t :categorias %></strong>
    <%= @produto.categorias %>
</p>
<% if current_usuario.try(:fornecedor?) %>
<%= link_to 'Editar', edit_loja_produto_path(@loja, @produto) %> |
<% end %>
<%= link_to 'Voltar', loja_produtos_path(@loja) %>
