<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-4">
		<%= link_to loja_produtos_path(@loja) do%> <i class="glyphicon glyphicon-chevron-left"></i> Retornar<% end %>
		<%= image_tag(@produto.imagem.url(:medium)) %>
	</div>
	<div class="col-sm-4">
	
		<!-- <strong><%= t :nome %>:</strong> -->
		<h2><%= @produto.nome %><small>
		<% if current_usuario.try(:fornecedor?) %>
			<%= link_to edit_loja_produto_path(@loja, @produto) do%>
			<span class="glyphicon glyphicon-edit"></span><% end %>
		<% end %>
		</small></h2>
		<p>Marca <i><%= @produto.marca %></i></p>
		<br>

		<h3>Descrição</h3>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus iaculis nisi nec porttitor. Praesent vitae libero eu lacus hendrerit tempus. Donec sit amet orci in erat consectetur auctor ac at leo. Nunc vel aliquam eros. Nullam tempor mauris ut vulputate vulputate. Aenean commodo tortor orci, eu viverra justo congue et. Mauris interdum turpis in massa dictum malesuada. Sed vitae eros id enim pharetra semper. 
		<br>
		<h5>Categorias:</h5>
		<span class="label"><i class="glyphicon glyphicon-tag"></i>Categoria #1</span>
		<span class="label"><i class="glyphicon glyphicon-tag"></i>Categoria #2</span>
		<span class="label"><i class="glyphicon glyphicon-tag"></i>Interessante</span>
		<span class="label"><i class="glyphicon glyphicon-tag"></i>Wow!</span>
		<br>
	</div>
	<div class="col-sm-4">
		<h3>Informações</h3>
		<p style = "font-size:18px;">Vendedor:
		<span style = "font-style: italic;"> <%= @loja.nome%>
		</span></p>
		<p style="color: #009933">Este produto está disponível.</p>
		
		<p style=""> Preço:
		<span style = "font-size:21px;">99,99
		</span></p>

		<button type="button" id="btnLogin" class="btn btn-success"> <i class="glyphicon glyphicon-shopping-cart"></i> Comprar este produto</button>

	</div>
</div>

