<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :nome %>:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong><%= t :preco %>:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong><%= t :t_lote %>: </strong>
  <%= @produto.t_lote %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
