
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="btn btn-navbar" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">ShowShop</a>
				</div>
				<ul class="nav navbar-nav">
					<% if usuario_signed_in? %>
						<li><%= link_to('Logout', logout_path, method: :delete) %></li>
						<li><%= link_to 'Histórico', historico_path %></li>
					<% else %>
						<li><%= link_to 'Login', login_path %></li>
						<li><%= link_to 'Cadastro', cadastro_path %></li>
					<% end %>
					<li><%= link_to 'Categoria', categoria_path %></li>
					<li><%= link_to 'Lotes', lotes_path  %> </li>
					<li><%= link_to 'Produtos', produtos_path  %> </li>
				</ul>
			</div>
		</div>
	</nav>


