
<ul id="menu-topo">
  <% if usuario_signed_in? %>
    <li><%= link_to('Logout', logout_path, method: :delete) %></li>
    <li><%= link_to 'Histórico', historico_path %></li>
  <% else %>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Cadastro', cadastro_path %></li>
  <% end %>
  <li><%= link_to 'Categoria', categoria_path %></li>
</ul> 

<div id="menu-lateral">
<h3 class="link-titulo">Categoria</h3>  			
  <ul class="links">					
    <li><a href="#">Primeira</a></li>
    <li><a href="#">Segunda</a></li>
    <li ><a href="#">Terceira</a></li>
    <li ><a href="#">Quarta</a></li>				
  </ul>
</div> <!-- /#menu -->