	<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<%= link_to 'ShowShop', lojas_path, :class => "brand" %>
				</div>
				<ul class="nav nav-collapse	">
					<% unless usuario_signed_in? %>
						<li><%= link_to 'Login', login_path %></li> 	<!-- Isso deve ser tirado mais tarde-->
					<% else %>
						<li><%= link_to 'Histórico', historico_path %></li>
					<% end %>
					<li><%= link_to 'Categoria', categoria_path %></li>
					
				</ul>
				<ul class="nav pull-right">					
					<%= render 'devise/menu/login_items' %>
				</ul>
				<%= form_tag(busca_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :busca, params[:busca], placeholder: "Busca teste" %>
				<%= submit_tag "Buscar" %>
				<% end %>
				<!-- Barra de pesquisa -->
 				<form class="navbar-search pull-right" action="" style="display: flex; align-items: center; min-height: 34px;">
					<input type="text" class="search-query span2" placeholder="Buscar..." style ="width:250px !important; height:30px !important;">
				</form>
			</div>
		</div>
	</nav>



