	<%@lojas = Loja.all%>
    <div class="container-fluid">
		<div class="row">
			<div class="col-xm-4 sidebar">
				<div class = "panel-group" id="collap">
					<div class="panel panel-default" style = " border: 0;">
					<!-- Itens s達o criados para cada loja a partir deste ponto, mas... -->
                        
						<% @lojas.each do |loja| %>
							<div class="panel-heading">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#collap" href=<%= "#Collapse#{loja.id}" %>>
								<%=loja.nome%></a>
								</h4>
							</div>
							<div id=<%= "Collapse#{loja.id}" %> class="panel-collapse collapse">
								<ul class="list-group">
									<li  class="list-group-item">
									<%= link_to "Novo Produto", new_loja_produto_path(loja), :class => "" %></li>
                                    
                                    
                                    <%if loja.categorias != nil%>
                                        <% @categorias = loja.categorias.split(" ")%>
                                        <%@categorias.each do |cat|%>
                                        <li class="list-group-item"> 
                                            
                                            <%= link_to cat, filtro_path(loja, cat) %> </li>
                                        <%end%>
                                    <%end%>
									
                                    <button type="button" id="btnLogin" class="btn btn-block">Algo diferente</button>
									<a href="#" class="list-group-item">Um link/Texto envez de um bot達o?</a>
								</ul>
							</div>
						<% end %>
						
						<!-- Mas isso vai, porque n達o acessa as lojas. -->
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#collap" href="#collapse999">
							Ajuda</a>
							</h4>
						</div>
						<div id="collapse999" class="panel-collapse collapse">
							<ul class="list-group">
								<button type="button" id="btnLogin" class="btn btn-block">Novo Produto</button>
								<button type="button" id="btnLogin" class="btn btn-block">Algo diferente</button>
                                
								<a href="#" class="list-group-item">Um link/Texto em vez de um bot達o?</a>
							</ul>
						</div>
					<!-- Fim -->
					</div>
				</div>
			</div>
		</div>
	</div>

