<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ShowShop</a>
    </div>
    <ul class="nav navbar-nav">
      <% if usuario_signed_in? %>
        <li><%= link_to 'Histórico', historico_path %></li>
      <% else %>
        <li><%= link_to 'Cadastro', cadastro_path %></li>
      <% end %>
      <li><%= link_to 'Categoria', categoria_path %></li>
      <li><%= link_to 'Produtos', produtos_path  %> </li>
      <%= render 'devise/menu/login_items' %>

    </ul>
  </div>
</nav>