<!DOCTYPE html>
<html>
<head>
  <title>ShowShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag '**defaults**' %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
  <%= csrf_meta_tags %>
</head>
<body style = "height : 100%;">
  <div id="main-container" class="container-fluid">
    <div class="row"><%=  render 'menutopo' %></div>
    <div class="row">
        <div class="col-xs-3"><%=  render 'menulateral' %></div>
        <div class="col-xs-9">
            <!--#devise-->
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
        </div>
    </div>
  </div>
</body>
</html>
